* {
    box-sizing: border-box;
}

body {
    font-family: nobel, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

    // font-family: nobel, sans-serif;
    // font-weight: 700;
    // font-style: normal;

    display: flex;
    justify-content: center;
    align-items: center;

}

h1, h2 {
    font-family: 'Apercu Pro Regular', sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-size: inherit;
    outline: none;
    border: none;

    font-family: nobel, sans-serif;
    font-weight: 400;
    font-style: normal;
}

select, input {
    font-family: nobel, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    // width: 3856px;
    // height: 2160px;

    display: flex;
    flex-flow: column nowrap;
}

.content {
    height: 1885px;
    width: 3856px;
}

section {
    box-sizing: border-box;
    max-height: 1885px;
    max-width: 3856px;
    height: 100%;
    width: 100%;
}

.popup-content {
    height: 1500px;
    width: 3000px;
}