@font-face {
    font-family: 'Apercu Pro Regular';
    src: url('../../assets/fonts/apercu_regular_pro.otf');
}

@font-face {
    font-family: 'Apercu Pro Regular Italic';
    src: url('../../assets/fonts/apercu_regular_italic_pro.otf');
}

@font-face {
    font-family: 'Apercu Pro Medium';
    src: url('../../assets/fonts/apercu_medium_pro.otf');
}

@font-face {
    font-family: 'Apercu Pro Medium Italic';
    src: url('../../assets/fonts/apercu_medium_italic_pro.otf');
}

@font-face {
    font-family: 'Apercu Pro Bold';
    src: url('../../assets/fonts/apercu_bold_pro.otf');
}

@font-face {
    font-family: 'Apercu Pro Bold Italic';
    src: url('../../assets/fonts/apercu_bold_italic_pro.otf');
}