@mixin btnTransition {
    transition: background 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

@mixin breakpointDown($screen) {
    @media (max-width: $screen) {
        @content;
    }
 }

@mixin breakpointUp($screen) {
    @media (min-width: $screen) {
        @content;
    }
 }

 @mixin bgCover() {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.5s ease-in-out;
 }

 @mixin resetInfoWindow() {
    .gm-style .gm-style-iw,
    .gm-style .gm-style-iw-c, 
    .gm-style .gm-style-iw-d,
    .gm-style-iw gm-style-iw-c { 
        padding: 0 !important;
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        border-radius: 0;
    }

    .gm-style-iw-d {
        overflow: hidden !important;
    }
}

@mixin infoWindowRemoveClose() {
    button {
        display: none !important;
    }
}

@mixin infoWindowArrow($colour) {
    .gm-style .gm-style-iw-tc::after {
        background: $colour;
        filter: none;
        -webkit-filter: none;
    }
}

@mixin mapMarkerTheme($colour) {
    .mapMarker__header, .mapMarker__times {
        background: $colour !important;
    }

    .mapMarker__time--image {
        border: 2px solid $colour;
        svg path { fill: $colour }
    }
}

@mixin suitesActionBtn() {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background 0.1s ease-in-out;
}