// Breakpoints
$bp-desktop-lg: 2560px;
$bp-desktop-md: 1920px;
$bp-desktop-sm: 1600px;

$bp-tablet-lg: 1366px;
$bp-tablet-md: 1280px;
$bp-tablet-sm: 1024px;

$bp-mobile-lg: 768px;
$bp-mobile-md: 500px;
$bp-mobile-sm: 360px;