.neighbourhoodTour {
    height: 100%;
    width: 100%;
    position: relative;
    background: #fff;
    transition: 0.5s background;

    &[data-category="Restaurants & Cafes"] {
        $colour: #58585B;
        background: $colour;
        @include infoWindowArrow($colour);
    }
    
    &[data-category="Lifestyle"] {
        $colour: #BAA58585B5CC;
        background: $colour;
        @include infoWindowArrow($colour);
    }

    &[data-category="Shopping"] {
        $colour: #58585B;
        background: $colour;
        @include infoWindowArrow($colour);

    }

    &[data-category="Parks & Trails"] {
        $colour: #58585B;
        background: $colour;
        @include infoWindowArrow($colour);

    }

    &[data-category="Transit"] {
        $colour: #58585B;
        background: $colour;
        @include infoWindowArrow($colour);

    }

    .map {
        height: 1885px;
        width: 3135px;    
        position: absolute;
        top: 0;
        left: 0;

        @include resetInfoWindow();
        @include infoWindowRemoveClose()
    }

    &__menu {
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: 3;
        width: 623px;
        height: 1792px;
        background: white;
        border-radius: 25px;
        padding: 30px;

        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
    
        overflow-y: scroll;
    }

    &__list {
        &[data-category="Restaurants & Cafes"] {
            .neighbourhoodTour__list--header, .neighbourhoodTour__item--number {
                background: #c8b273;
            }
        }
        
        &[data-category="Lifestyle"] {
            .neighbourhoodTour__list--header, .neighbourhoodTour__item--number {
                background: #BAA5CC;
            }
        }

        &[data-category="Shopping"] {
            .neighbourhoodTour__list--header, .neighbourhoodTour__item--number {
                background: #C7C7C7;
            }
        }

        &[data-category="Parks & Trails"] {
            .neighbourhoodTour__list--header, .neighbourhoodTour__item--number {
                background: #BFD0CA;
            }
        }

        &[data-category="Transit"] {
            .neighbourhoodTour__list--header, .neighbourhoodTour__item--number {
                background: #58585B;
            }
        }

        &--items {
            display: none;
            padding: 35px;

        }

        &.active > &--items {
            display: block;
            animation: 0.25s listFadeIn ease-in-out;
            opacity: 1;
        }

        &--header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            border-radius: 100px;
            color: white;
            transition: background 0.25s ease-in-out;
            font-family: nobel, sans-serif;
            font-weight: 700;
            font-style: normal;
            cursor: pointer;
        }
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 25px;
        list-style-type: none;
        min-height: 80px;
        width: 100%;
        padding: 10px 10px 10px 0;
        cursor: pointer;

        p {
            user-select: none;
        }

        &--number {
            height: 60px;
            width: 60px;
            border-radius: 50%;


            p {
                height: 60px;
                width: 60px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
            }

        }
    }
}

@keyframes listFadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}