.suites {
    background: #d9dada;
    width: 100%;
    height: 100%;
    position: relative;

    &__content {
        display: none;
        height: 100%;
        width: 100%;

        &[data-subsection='suites'] {
            background: #D9DADA;
        }

        &.active {
            display: block;
        }
    }

    &__floor {
        display: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top center;
            user-select: none;
        }

        &.active {
            display: block;
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
        }
    }

    &__keyplan {
        position: absolute;
        bottom: 50px;
        right: 50px;
        z-index: 3;
        height: 755px;
        width: 768px;

       img {
            user-select: none;
       }
    }

    &__floorplan {
        background: #fff;
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 3;
        width: 3067px;
        height: 1786px;
        box-shadow: 5px 10px 10px #00000025;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__menu {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 625px;
        z-index: 3;
        box-shadow: 5px 10px 10px #00000025;

        &--subsections {
            background: #C7C7C7;
            color: #58585B;
            height: 166px;
            
            display: flex;
            flex-flow: row nowrap;

            box-sizing: border-box;
            padding: 0 50px;

            &-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 0 48%;

                .btn {
                    width: 100%;
                }
            }
        }

        &--floors {
            background: #fff;
            display: flex;
            flex-flow: column nowrap;
            row-gap: 25px;
            padding: 50px;
        }

        &--suites {
            background: #fff;
            display: flex;
            flex-flow: column nowrap;
            row-gap: 25px;
            padding: 50px;
            height: 1620px;
        }

        &--floor {
            width: 100%;

            .btn {
                text-align: start;
                width: 100%;
            }
        }

        &--dropdowns {
            display: flex;
            flex-flow: column nowrap;
        }

        &--dropdown {
            height: 125px;
            width: 100%;

            select {
                border: 2px solid #c7c7c7;
            }
        }

        &--checkboxes {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

            row-gap: 20px;
            column-gap: 20px;
        }

        &--units {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;

            row-gap: 10px;
            column-gap: 10px;
            flex: 1;
        }

        &--controls {
            display: flex;
            flex-flow: row nowrap;
        }

        &--control {
            flex: 1 0 38%;

            &:nth-of-type(1) {
                span {
                    text-decoration: underline;
                }
            }

            span {
                font-size: 40px;
            }
        }
    }

    &__popup {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 2374px;
        background: #fff;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        .suites__actions--btn {
            z-index: 2;
            position: absolute;
            top: 50px;
            right: 50px;
        }

        &--form {
            width: 700px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            row-gap: 30px;
        }

        &--col {
            flex: 1 0 48%;
            height: 100%;
            padding: 50px;

            &[data-popup="emailform"] {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }

            &[data-popup="emailbg"] {
                background: url('../../assets/images/img-email-floorplan.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        &[data-popup="vr"] {
            justify-content: flex-end;
            align-items: flex-start;
            height: 1582px;
            width: 2374px !important;
    
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 2374px !important;
                height: 100%;
                z-index: 1;
            }
        }

        &[data-popup="email"] {
            background: #58585B;
            color: #fff;
            height: 1150px;
            width: 2198px;

            display: flex;
            flex-flow: row nowrap;
            
        }
    }

    &__actions {
        position: absolute;
        top: 70px;
        right: 60px;
        height: 120px;
        min-width: 640px;
        column-gap: 25px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        &--btn {
            height: 105px;
            width: 105px;
            border-radius: 5px;

            &[data-action="close"] {
                background-image: url('../../assets/svg/icon-close.svg');
                @include suitesActionBtn();
                
                &:hover {
                    background-image: url('../../assets/svg/icon-close-active.svg');
                    @include suitesActionBtn();
                }
                
                &.active {
                    background-image: url('../../assets/svg/icon-close-active.svg');
                    @include suitesActionBtn();
                }
            }

            &[data-action="email"] {
                background-image: url('../../assets/svg/icon-email.svg');
                @include suitesActionBtn();
                
                &:hover {
                    background-image: url('../../assets/svg/icon-email-active.svg');
                    @include suitesActionBtn();
                }
                
                &.active {
                    background-image: url('../../assets/svg/icon-email-active.svg');
                    @include suitesActionBtn();
                }
            }

            &[data-action="favourite"] {
                background-image: url('../../assets/svg/icon-heart.svg');
                @include suitesActionBtn();
                
                &:hover {
                    background-image: url('../../assets/svg/icon-heart-active.svg');
                    @include suitesActionBtn();
                }
                
                &.active {
                    background-image: url('../../assets/svg/icon-heart-active.svg');
                    @include suitesActionBtn();
                }
            }

            &[data-action="print"] {
                background-image: url('../../assets/svg/icon-print.svg');
                @include suitesActionBtn();
                
                &:hover {
                    background-image: url('../../assets/svg/icon-print-active.svg');
                    @include suitesActionBtn();
                }

                &.active {
                    background-image: url('../../assets/svg/icon-print-active.svg');
                    @include suitesActionBtn();
                }
            }

            &[data-action="compare"] {
                background-image: url('../../assets/svg/icon-compare.svg');
                @include suitesActionBtn();
                
                &:hover {
                    background-image: url('../../assets/svg/icon-compare-active.svg');
                    @include suitesActionBtn();
                }

                &.active {
                    background-image: url('../../assets/svg/icon-compare-active.svg');
                    @include suitesActionBtn();
                }

                &.disable {
                    opacity: 0.25;
                    background-image: url('../../assets/svg/icon-compare.svg');
                    @include suitesActionBtn();
                    &:hover {
                        background-image: url('../../assets/svg/icon-compare.svg');
                        @include suitesActionBtn();        
                    }    
                }
            }

            &[data-action="virtualtour"] {
                background-image: url('../../assets/svg/icon-virtualtour.svg');
                @include suitesActionBtn();
                
                &:hover {
                    background-image: url('../../assets/svg/icon-virtualtour-active.svg');
                    @include suitesActionBtn();
                }
                
                &.active {
                    background-image: url('../../assets/svg/icon-virtualtour-active.svg');
                    @include suitesActionBtn();
                }
            }
        }
    }

    &__favourites {
        display: none;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        height: 100%;
        width: 100%;
        font-family: 'Apercu Pro Bold', sans-serif;
        padding: 50px;

        &--swiper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            column-gap: 50px;
            overflow-x: scroll;
            padding-bottom: 35px;

            width: 3140px;

            &::-webkit-scrollbar {
                padding: 50px;
                border-radius: 45px;
                background: #fff;
                height: 90px;
                border: 15px solid #fff;
              }
              
              &::-webkit-scrollbar-track {
                background: #fff;
                border-radius: 45px;
              }
              
              &::-webkit-scrollbar-thumb {
                background: #d9dada;
                border-radius: 45px;
                border: 15px solid #fff;

              }
        }

        &--card {
            padding: 50px;
            height: 1480px;
            width: 1014px;
            background: #fff;
            flex: 0 0 1014px;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            row-gap: 50px;
        }

        &--floorplan {
            width: 767px;
            height: 1009px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        &--menu {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            position: absolute;
            top: 50px;
            right: 50px;
            z-index: 2;
        }

        &.active {
            display: flex;
            animation: 0.5s suitesContainerFadeIn ease-in-out;
        }
    }

    &__container {
        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100%;
        font-family: 'Apercu Pro Bold', sans-serif;
        overflow: hidden;

        &.active {
            display: flex;
            animation: 0.5s suitesContainerFadeIn ease-in-out;
        }

        &--floorplan {
            height: 100%;
            width: 1050px;
        
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        

        &--keyplans {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            height: 1500px;
            width: 400px;

            position: absolute;
            bottom: 50px;
            right: 50px;

            z-index: 3;
        }

        &--keyplan {
            flex: 1 0 30%;
            width: 100%;
            

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__icon {
        height: 110px;
        width: 110px;
        color: #fff;
        position: relative;

        &--favourite {
            position: absolute;
            bottom: 15px;
            right: 15px;
            height: 15px;
            width: 15px;
        }

        &.active {
            &::after {
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                height: 80%;
                width: 80%;
                border: 1px solid white;
            }
        }

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 24px;
        }

        &[data-bg="lightgrey"] {
            background: #C7C7C7;
        }

        &[data-bg="gold"] {
            background: #C8B273;
        }

        &[data-bg="darkgrey"] {
            background: #58585B;
        }

        &[data-bg="green"] {
            background: #BFD0CA;
        }

        &[data-bg="purple"] {
            background: #BAA5CC;
        }
    }
}

@keyframes suitesContainerFadeIn {
    from {
        display: none;
        opacity: 0;
    } to {
        display: flex;
        opacity: 1;
    }
}