.suites {
    background: #d9dada;
    width: 100%;
    height: 100%;
    position: relative;

    &__content {
        display: none;
        height: 100%;
        width: 100%;

        &[data-subsection='suites'] {
            background: #D9DADA;
        }

        &.active {
            display: block;
        }
    }

    &__floor {
        display: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top center;
            user-select: none;
        }

        &.active {
            display: block;
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
        }
    }

    &__keyplan {
        position: absolute;
        bottom: 50px;
        right: 50px;
        z-index: 3;
        height: 755px;
        width: 768px;

       img {
            user-select: none;
       }
    }

    &__floorplan {
        background: #fff;
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 3;
        width: 3067px;
        height: 1786px;
        box-shadow: 5px 10px 10px #00000025;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__menu {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 625px;
        z-index: 3;
        box-shadow: 5px 10px 10px #00000025;

        &--subsections {
            background: #C7C7C7;
            color: #58585B;
            height: 166px;
            
            display: flex;
            flex-flow: row nowrap;

            box-sizing: border-box;
            padding: 0 50px;

            &-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 0 48%;

                .btn {
                    width: 100%;
                }
            }
        }

        &--floors {
            background: #fff;
            display: flex;
            flex-flow: column nowrap;
            row-gap: 25px;
            padding: 50px;
        }

        &--suites {
            background: #fff;
            display: flex;
            flex-flow: column nowrap;
            row-gap: 25px;
            padding: 50px;
            height: 1620px;
        }

        &--floor {
            width: 100%;

            .btn {
                text-align: start;
                width: 100%;
            }
        }

        &--dropdowns {
            display: flex;
            flex-flow: column nowrap;
        }

        &--dropdown {
            height: 125px;
            width: 100%;

            select {
                border: 2px solid #c7c7c7;
            }
        }

        &--checkboxes {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

            row-gap: 25px;
            column-gap: 25px;
        }

        &--units {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;

            row-gap: 10px;
            column-gap: 10px;
            flex: 1;
        }

        &--controls {
            display: flex;
            flex-flow: row nowrap;
        }

        &--control {
            flex: 1 0 38%;

            &:nth-of-type(1) {
                span {
                    text-decoration: underline;
                }
            }

            span {
                font-size: 40px;
            }
        }
    }

    &__container {
        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100%;
        font-family: 'Apercu Pro Bold', sans-serif;
        overflow: hidden;

        &.active {
            display: flex;
            animation: 0.5s suitesContainerFadeIn ease-in-out;
        }

        &--info {
            position: absolute;
            top: 70px;
            left: 60px;
            z-index: 3;
            color: #58585B;

            display: flex;
            flex-flow: column nowrap;

            text-transform: uppercase;

            h2 {
                font-size: 76px;
                line-height: 92px;
                color: #C8B273;
            }
        
            p {
                font-size: 40px;
                line-height: 58px;
            }

            span {
                font-size: 35px;
                line-height: 42px;
            }
        }

        &--description {
            font-family: 'Apercu Pro Regular', sans-serif;
        }

        &--floorplan {
            height: 100%;
            width: 1050px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        &--keyplans {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            height: 1500px;
            width: 400px;

            position: absolute;
            bottom: 50px;
            right: 50px;

            z-index: 3;
        }

        &--keyplan {
            flex: 1 0 30%;
            width: 100%;
            

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__icon {
        height: 110px;
        width: 110px;
        color: #fff;
        position: relative;

        &.active {
            &::after {
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                height: 90px;
                width: 90px;
                border: 1px solid white;
            }
        }

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 30px;
        }

        &[data-bg="lightgrey"] {
            background: #C7C7C7;
        }

        &[data-bg="gold"] {
            background: #C8B273;
        }

        &[data-bg="darkgrey"] {
            background: #58585B;
        }

        &[data-bg="green"] {
            background: #BFD0CA;
        }

        &[data-bg="purple"] {
            background: #BAA5CC;
        }
    }
}

@keyframes suitesContainerFadeIn {
    from {
        display: none;
        opacity: 0;
    } to {
        display: flex;
        opacity: 1;
    }
}