.btn {
    outline: none;
    border: none;
    background: none;
    font-weight: 700;


    padding: 35px 85px;
    border-radius: 60px;
    font-size: inherit;

    background: #C8B273;
    color: #fff;

    box-shadow: 0 10px 10px #00000010;

    &-outline {
        background: #fff;
        color: #58585B;
        border: 5px solid #C7C7C7;

        &.active {
            background: #C8B273;
            color: #fff;
            border: 5px solid #C8B273;
        }
    }

    &-section {
        background: #fff;
        color: #58585B;
        border: 5px solid #C7C7C7;
        padding: 35px 85px;

        &.active {
            background: #C8B273;
            color: #fff;
            border: 5px solid #C8B273;
        }
    }

    &-menu {
        background: transparent;
        color: #58585B;
        box-shadow: none;

        font-family: nobel, sans-serif;
        font-style: normal;
    
        &.active {
            background: #C8B273;
            color: #fff;
        }
    }
}